{# templates/registration/register.html.twig #}
<!DOCTYPE html>
<html>


{{ form_start(form) }}
    {{ form_row(form.deprecated) }}

    <button type="submit">Create Concept!</button>
{{ form_end(form) }}


</html>
